.end img {
  height: 100px;
  width: 100px;
  border: 1px;
  border-radius: 100%;
}

@media (max-width: 430px) {
  .end img {
    height: 70px;
    width: 70px;
    border: 1px;
    border-radius: 100%;
  }
}

@media (min-width: 431px) and (max-width: 770px) {
  .end img {
    height: 85px;
    width: 85px;
    border: 1px;
    border-radius: 100%;
  }
}
