.swiper-img img {
  height: 300px;
}
.research {
  margin-top: -20px;
}
@media (max-width: 430px) {
  .swiper-img img {
    height: 90px;
  }
}

@media (min-width: 431px) and (max-width: 770px) {
  .swiper-img img {
    height: 100px;
  }
}
